/* #region | Root selectors and main elements */
:root {

	/* Dimensions */
	--font_large: 1.5rem;
	--font_medium: 1rem;
	--font_small: 0.8rem;

	--spacing_large: 16px;
	--spacing_medium: 8px;
	--spacing_small: 2px;

	--sidebar_width: 240px;

	/* Colors */
	--elev_0: hsl(225, 12%, 13%); /* Background */
	--elev_1: hsl(225, 12%, 16%); /* Sidebar */
	--elev_2: hsl(225, 12%, 24%); /* Buttons, misc */
	--elev_3: hsl(225, 12%, 39%); /* Used few times */

	--notif_default: hsla(215, 60%, 50%, 0.3);
	--notif_success: hsla(110, 80%, 40%, 0.35);
	--notif_warning: hsla(45, 95%, 50%, 0.35);
	--notif_error: hsla(0, 80%, 40%, 0.35);
	
	--text_primary: #eee;
	--text_secondary: #777;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--font_medium);
	color: var(--text_primary);
}

*:focus {
	outline: none;
}

h1 {
	font-size: var(--font_large);
}

html, body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: var(--elev_0);
	gap: 0 !important;
}

hr {
	border-width: var(--spacing_small) 0 0 0;
	border-color: var(--elev_2);
	border-style: solid;
}

svg .visible {
	stroke: var(--text_secondary);
	fill: var(--text_secondary);
	stroke-linejoin: round;
	stroke-width: 6;
}

input[type="number"],
input[type="text"] {
	background-color: var(--elev_1);
	border: var(--spacing_small) solid var(--elev_2);
	padding: var(--spacing_medium);
	border-radius: var(--spacing_medium);
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* #endregion */


/* #region | Miscellaneous classes */
.vr { /* VR = Vertical Rule */
	height: 100%;
	border-width: 0 var(--spacing_small) 0 0;
	border-color: var(--elev_3);
	border-style: solid;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.flex_col, .flex_row {
	gap: var(--spacing_medium);
}

.flex_allow_wrap {
	flex-wrap: wrap;
}

.button {
	align-items: center;
	padding: var(--spacing_medium);
	height: 1.5rem;
	cursor: pointer;
	user-select: none;
	border-radius: var(--spacing_medium);
	background-color: var(--elev_2);
	white-space: nowrap;
}

.button svg {
	height: 100%;
	flex-shrink: 0;
}

.button.active svg .visible {
	stroke: var(--text_primary);
	fill: var(--text_primary);
}

.small_text {
	font-size: var(--font_small);
	color: var(--text_secondary);
}

.hidden {
	display: none;
}
/* #endregion */


/* #region | Sidebar */
#sidebar {
	padding: var(--spacing_medium);
	overflow: hidden scroll;
	width: var(--sidebar_width);
	flex-shrink: 0;
	box-shadow: 0 0 var(--spacing_medium) 0 black;
	background-color: var(--elev_1);
	box-sizing: border-box;
}

.io_list {
	border: var(--spacing_small) solid var(--elev_2);
	height: 120px;
	border-radius: var(--spacing_medium);
}

#footer {
	margin-top: auto;
}
/* #endregion */


/* #region | Content */
#content {
	width: 100%;
	padding: var(--spacing_medium);
}

#content_spacing {
	height: 100%;
	position: relative;
}
/* #endregion */


/* #region | Windows */
.window {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: var(--spacing_medium);
	overflow: hidden scroll;
	box-sizing: border-box;
	border-radius: var(--spacing_medium);
	z-index: 50;
	background-color: var(--elev_1);
	box-shadow: 0 0 var(--spacing_medium) 0 black;
}

.researches_lists_container > div,
.recipes_lists_container > div {
	margin: var(--spacing_medium) 0;
}

#researches_container .button.active::before,
#recipes_container .button.active::before { content: "🟢 "; }

#researches_container .button.inactive::before,
#recipes_container .button.inactive::before { content: "🔴 "; }

#researches_searchbox,
#recipes_searchbox {
	flex-grow: 1;
}
/* #endregion */


/* #region | Canvases */
#canvases {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
/* #endregion */


/* #region | Notifications */
#notifs_container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	pointer-events: none;
}

#notifs_container > div {
	max-width: 60vw;
	margin: var(--spacing_medium) var(--spacing_medium) 0;
	padding: var(--spacing_large);
	text-align: center;
	border-radius: var(--spacing_medium);
	word-wrap: break-word;
	background-color: var(--notif_default);
	backdrop-filter: blur(var(--spacing_medium));
	z-index: 100;
	color: #fff;
	pointer-events: auto;
}

#notifs_container > div.success {
	background-color: var(--notif_success);
}

#notifs_container > div.warning {
	background-color: var(--notif_warning);
}

#notifs_container > div.error {
	background-color: var(--notif_error);
}

#notifs_container > div .button {
	margin-top: var(--spacing_medium);
	background-color: var(--notif_default);
	filter: saturate(60%);
	width: 100%;
}

#notifs_container > div.success .button {
	background-color: var(--notif_success);
}

#notifs_container > div.warning .button {
	background-color: var(--notif_warning);
}

#notifs_container > div.error .button {
	background-color: var(--notif_error);
}
/* #endregion */


/* #region | Portrait screens */
@media screen and (orientation: portrait) {
	#notifs_container > div {
		max-width: 100vw;
	}
}
/* #endregion */
