/* #region | Root selectors and main elements */
:root {

	/* Dimensions */
	--font_large: 1.5rem;
	--font_medium: 1rem;
	--font_small: 0.8rem;

	--spacing_large: 16px;
	--spacing_medium: 8px;
	--spacing_small: 2px;

	/* Colors */
	--elev_0: hsl(225, 10%, 10%); /* Background */
	--elev_1: hsl(225, 10%, 13%); /* Sidebar */
	--elev_2: hsl(225, 10%, 22%); /* Buttons, misc */
	--elev_3: hsl(225, 10%, 39%); /* Used few times */

	--text_primary: #eee;
	--text_secondary: #777;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--font_medium);
	color: var(--text_primary);
}

h1 {
	font-size: var(--font_large);
}

html, body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: var(--elev_0);
}

hr {
	border-width: var(--spacing_small) 0 0 0;
	border-color: var(--elev_2);
	border-style: solid;
}

svg .visible {
	stroke: var(--text_primary);
	fill: var(--text_primary);
	stroke-linejoin: round;
	stroke-width: 6;
}
/* #endregion */


/* #region | Miscellaneous classes */
.vr { /* VR = Vertical Rule */
	height: 100%;
	border-width: 0 var(--spacing_small) 0 0;
	border-color: var(--elev_3);
	border-style: solid;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.flex_col, .flex_row {
	gap: var(--spacing_medium);
}

.button {
	align-items: center;
	padding: var(--spacing_medium);
	height: 1.5rem;
	cursor: pointer;
	user-select: none;
	border-radius: var(--spacing_medium);
}

.small_text {
	font-size: var(--font_small);
	color: var(--text_secondary);
}
/* #endregion */


/* #region | Sidebar */
#sidebar {
	padding: var(--spacing_medium);
	overflow: hidden scroll;
	width: 230px;
	box-shadow: 0 0 10px 0 black;
	background-color: var(--elev_1);
}

#sidebar .button {
	background-color: var(--elev_2);
}

#sidebar .button svg {
	height: 100%;
	flex-shrink: 0;
}

.io_list {
	border: var(--spacing_small) solid var(--elev_2);
	height: 120px;
	border-radius: var(--spacing_medium);
}

#footer {
	margin-top: auto;
}
/* #endregion */
